# Database Settings
DB_HOST=localhost
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=1004!
DB_SCHEMA=public2

# Redis Settings
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

# JWT Settings
JWT_SECRET=your-secret-key-change-in-production